DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=30m

CORS_ORIGIN=http://localhost:3000
COOKIE_SECURE=false

DEV_BYPASS_AUTH=false

PORT=4000
HOST=0.0.0.0
NODE_ENV=development